* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: rgb(198, 195, 195);
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
}
